.Slotmachine {
    width: 100%;
   margin:  auto;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
    background: #511853;
    border-radius: 30px;
    border: 10px solid #35D7F4;
    overflow: hidden;
    height: 400px;
    max-width: 450px;
    max-height: 45%;
    

     
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .Slotmachine{
     
    }

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .Slotmachine{
    
    }

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .Slotmachine{
   
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .Slotmachine{
  
    }
 }