.Whiteband{
    position: relative;
    width: 30%;
    height: 100%;
    background: #ffffff;
}



.Whiteband1{
 
    float: left;
    margin-left: 0%;
    
}
.Whiteband2{

    float: left;
    margin-left: 5%;
    
}

.Whiteband3{
 
    float: right;
    margin-left:5%;
  

    
}
