 .MoneyControl{
    position: absolute;
    top: calc(50% - 300px);
    left: 50%;
    transform: translateX(-50%);
    width:250px;
    height: 60px;
    background: #ffffff;
    border-radius: 18px;
 
  
    
}

/* // Small devices (landscape phones, 250px and up) */
@media (min-width: 250px) { 
  .MoneyControl{
    width:250px;
    top: calc(50% - 220px);
  }

}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .MoneyControl{
    width:250px;
    top: calc(50% - 300px);
  }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .MoneyControl{
    width:280px;
  }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .MoneyControl{
    width:400px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .MoneyControl{
    width:400px;
  }
}


.triangleLeft {
    position: absolute;
    left: -10px;
    width: 50px;
    top:50%;
    transform: translate(0%,-25px) rotate(45deg);
    height: 50px;
    background: white;
    border-radius: 18px; 
    
    pointer-events: none;
 
   
  }

  .triangleRight{
      position: absolute;
    right: -10px;
    width: 50px;
    top:50%;
    transform: translate(0%,-25px) rotate(45deg);
    height: 50px;
    background: white;
    border-radius: 18px; 
    pointer-events: none; 
    border-radius: 18px; 
 
  
    
  

  } 
  .circle{
    position:absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:6px solid  #ffdb0c;
    background:#fbbf00 ;
    top:50%;
    transform: translateY(-50%);
    left: 10px;
    pointer-events: none;
  }

  .Start{
    position: absolute;
    top: 50%;
    left: 58%;
    font-size: 2em;
    transform: translateY(-50%);
    border: 3px solid #00E0FF;
    background:#7341f0 ;
    top:50%;
    right:  20px;
    text-align: center;
    color: white;
    border-radius: 15px;
    width: 100px;
    /* pointer-events: none; */
    /* disable text selection */
    -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    
    
  }
  .Start:hover{
    background:#3f11b5 ;
  }
  .Start:focus{
    background:#00E0FF ;
  }
  .disabled{
    background:  #827f81;
    border: 3px solid #dbdbdb;
  }


  .amount{
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 2em;
    transform: translate(-50%, -50%);
    color:#094a60;
    font-weight: bold;
    background: white;
    width: 35%;
    border:none;

  }

