.MainContainer {
    width: 100%;
   margin:  auto;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
     
}

@media (min-width:200px) and (min-height:400px) {
    .MainContainer{
        width: 300px;
        height: 200px;
    }
}

@media (min-width:500px) and (min-height:401px) {
    .MainContainer{
      
        width: 460px;
        height: 300px;
    }
}

@media (min-width:1000px) and (min-height:700px) {
    .MainContainer{
     
        width: 700px;
        height: 500px;
    }
}