.Iconband{
    width: 100%;
    background: silver;
    font-size: 2em;
    height: 1700px;
    text-align: center;
    transform: translate(0px,-400px);
    pointer-events: none;
    visibility: hidden; 
    
}

.speed1{
    transition: transform 1300ms ease-out;
}
.speed2{
    transition: transform 1800ms ease-out;
}

.speed3{
    transition: transform 2500ms ease-out;
}

/* 
Elementele
 */






/* @media (min-width:200px) and (min-height:400px) {
    .p{
    
        height: 60px;
    }
}

@media (min-width:500px) and (min-height:401px) {
    .p{
      
      
        height: 85px;
    }
}

@media (min-width:1000px) and (min-height:700px) {
    .p{
     
     
        height: 120px;
    }
 
} */
.Ruleaza1{
    transform: translate(0px,-100%);
      
}

.Ruleaza2{
    transform: translate(0px,-100%);
     
}

.Ruleaza3{
    transform: translate(0px,-100%);
      
}






